/* Fonts */

@font-face {
    font-family: 'PlutoLight';
    src: url(../fonts/HvDTrial_Pluto-Light-BF6486959ecadac.ttf);
}

@font-face {
    font-family: 'PlutoMedium';
    src: url(../fonts/HvDTrial_Pluto-Medium-BF6486959ddd7bf.ttf);
}

@font-face {
    font-family: 'PlutoBold';
    src: url(../fonts/HvDTrial_Pluto-Bold-BF6486959ee6381.ttf);
}

@font-face {
    font-family: 'PlutoHeavy';
    src: url(../fonts/HvDTrial_Pluto-Heavy-BF6486959ebdea6.ttf);
}


* {
    box-sizing: border-box;
    font-family: 'PlutoBold', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #303B43;
}

/* Text */

h1 {
    font-family: 'PlutoBold', sans-serif;
    font-size: 3.75rem;
    margin: 0;
}

h2 {
    font-family: 'PlutoHeavy', sans-serif;
    font-size: 3.75rem;
    margin: 0;
}

h3 {
    font-family: 'PlutoHeavy', sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

h4 {
    font-family: 'PlutoHeavy', sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

p {
    font-family: 'PlutoLight', sans-serif;
    font-size: 1rem;
    margin: 0;
}

ul {
    list-style: none;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
}

svg {
    height: 40px;
}

label {
    font-family: 'PlutoLight';
    font-size: 1rem;
}

header {
    background-color: white;
}

/* Buttons */

.buttonSpecial {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgb(238, 81, 31);
    background: linear-gradient(49deg, rgba(238, 81, 31, 1) 0%, rgba(234, 51, 62, 1) 29%, rgba(185, 45, 134, 1) 53%, rgba(108, 100, 186, 1) 71%, rgba(27, 158, 240, 1) 87%, rgba(27, 158, 240, 1) 88%);
    cursor: pointer;
    padding: 0px 16px;
    height: 50px;
    width: auto;
    color: white;
    border-radius: 8px;
    border-color: transparent;
}

.buttonSpecial img {
    height: 30px;
}

.buttonMain {
    background-color: #0359ca;
    border: 0;
    padding: 15px 32px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    gap: 10px;
}

.buttonMain:hover {
    background-color: #29AAEB;
    color: black;
}

.buttonMain img {
    height: 30px;
}

.buttonMain2 {
    background-color: white;
    border: 1px solid #0359ca;
    padding: 15px 32px;
    color: #0359ca;
    cursor: pointer;
    border-radius: 8px;
    gap: 10px;
}

.buttonMain2:hover {
    background-color: #29AAEB;
    color: black;
}

/* Header */

.navbar-nav {
    gap: 0.25rem;
}

.nav-link {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    height: 56px;
    padding: 8px 16px !important;
    border-radius: 9999px;
}

.nav-link-icon {
    color: #303B43;
    cursor: pointer;
}

.nav-link-profile svg {
    height: 24px;
    padding-left: 10px;
}

.nav-link-profile svg:hover {
    color: #0359ca;
}

.subnav-link {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    height: 40px;
    padding: 8px 16px !important;
    border-radius: 9999px;
    color: #303B43;
}

.subnav-link svg {
    height: 20px;
    padding-left: 10px;
}

.subnav-link:hover {
    background-color: #D2EBF7;
    color: #0359ca;
}


hr {
    margin: 0;
}

/* footer */

.footerMain {
    background: rgb(238, 81, 31);
    background: linear-gradient(49deg, rgba(238, 81, 31, 1) 0%, rgba(234, 51, 62, 1) 29%, rgba(185, 45, 134, 1) 53%, rgba(108, 100, 186, 1) 71%, rgba(27, 158, 240, 1) 87%, rgba(27, 158, 240, 1) 88%);
    color: white;
}

.footerMain svg {
    fill: white;
    margin-right: 25px;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.footerMain svg:hover {
    fill: #29AAEB;
}

.footerMain ul:hover {
    text-decoration: underline;
}

/* footer2 */

.footerMain2 {
    background: #0359ca;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 35px;
    padding-bottom: 40px;
}

.footerMain2 svg {
    fill: white;
    margin-right: 25px;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.footerMain2 svg:hover {
    fill: #29AAEB;
}

.footerMain2 ul:hover {
    text-decoration: underline;
}

/* Main */

.carousel-item img {
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.filters img {
    background-color: ghostwhite;
    border-radius: 0.5rem;
    height: 230px;
    width: 230px;
}

.filters img:hover {
    background-color: #0359ca;
}

.filters2 img {
    background-color: ghostwhite;
    border-radius: 0.5rem;
    height: 150px;
    width: 150px;
}

.filters2 img:hover {
    background-color: #0359ca;
}

.section-product-main {
    margin-left: 32px;
    margin-right: 32px;
}

.productMain {
    border: 4px solid #bcbccc;
    border-radius: 0.5rem;
}

.circle {
    border-radius: 50%;
    clip-path: inset(5% 0 5% 0);
    background-color: #D2EBF7;
}

.square {
    display: flex;
    width: 739px;
    justify-content: center;
    text-align: center;
    background-color: #0359ca;
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    align-items: center;
}

.square div .button {
    display: flex;
    background-color: white;
    color: #0359ca;
    border-radius: 8px;
    justify-content: center;
}

/* Shop */

.filterHeader img {
    object-fit: cover;
    background-color: white;
    border-radius: 4px;
}

.filterShop h2 {
    font-size: 1rem;
    font-family: 'PlutoLight';
}

.filterShop div p {
    font-size: 1rem;
    font-family: 'PlutoHeavy';
}

.squareCheckBox {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 2px;
}

.cereals {
    font-size: 1rem;
    font-family: 'PlutoLight';
}

.containt-product {
    width: 32%;
}

.img-product-shop {
    height: 285px;
    width: 285px;
}

.col select {
    padding-left: 12px;
    padding-right: 40px;
    height: 40px;
}

.information {
    font-size: 1.3rem;
    font-family: 'PlutoHeavy';
    color: #303B43;
}

.price {
    width: 90%;
}

.buttons a {
    height: 50px;
    width: 134px;
    padding: 0px 4px;
}


/* Checkout*/


.informationPersonal {
    padding: 43px;
}

.buyProducts2 {
    padding: 43px;
}

.informationPersonal {
    margin-left: 13%;
    padding-left: 0;
}

.buyProducts {
    padding-right: 13%;
}

.informationPersonal .col {
    padding: 0;
}

.payment {
    background-color: #F4F6FF;
}

.payment svg {
    height: 55px;
    width: 43px;
}

.payment2 {
    background-color: #F4F4F4;
}

.buyProducts {
    background-color: #F6F7F8;

}



/* Cart */

.cart {
    width: 56rem;
    margin: auto;
}

.container-product {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    height: 160px;
    padding: 8px 16px;
}

.productInformation {
    width: 100%;
}

.container-product p {
    font-size: 1rem;
    font-family: 'PlutoBold', sans-serif;
}

.buttons p {
    font-family: 'PlutoLigth', sans-serif;
}

#cart .minus {
    background-color: #D5DADE;
    height: 40px;
    width: 40px;
    padding: 0px 8px;
}

#cart .minus:hover {
    background-color: #B4BBC3;
}

#cart .plus {
    background-color: #D5DADE;
    height: 40px;
    width: 40px;
    padding: 0px 8px;
}

#cart .plus:hover {
    background-color: #B4BBC3;
}

#cart .amount {
    background-color: #F7F8F9;
    height: 40px;
    width: 40px;
    padding: 0px 8px;
}

.container-like {
    height: 114px;
    width: 75%;
}

.notification {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.6;
    width: 20px;
    height: 20px;
    right: 380px;
}

.offcanvas.show {
    width: 43%;
}

/* login */

#login {
    background-color: #CED3D8;
}

.login {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 33%;
}

.container-margin {
    width: 500px;
    margin: auto;
}

/* Product */

#product .c1 {
    width: 55%;
}

#product .c2 {
    width: 45%;
}

#product .col .btn-group .minus,
.plus,
.amount {
    height: 54px;
    width: 72px;
    border-radius: 0;
}

#product .col .buttonMain {
    height: 54px;
    width: 300px;
    border-radius: 0;
}

#product .row .text p {
    margin-right: 250px;
}

.rotate {
    transform: rotate(90deg);
}



/* order */

#orders {
    background-color: #F6F7F8;
}

.container-order {
    width: 32%;
}

.container-order .container {
    height: fit-content;
    background-color: #F6F7F8;
}

.container-order .title {
    background-color: #F6F7F8;
}

.discount {
    color: red;
}