/* Fonts */

@font-face {
    font-family: 'PlutoLight';
    src: url(../fonts/HvDTrial_Pluto-Light-BF6486959ecadac.ttf);
}

@font-face {
    font-family: 'PlutoMedium';
    src: url(../fonts/HvDTrial_Pluto-Medium-BF6486959ddd7bf.ttf);
}

@font-face {
    font-family: 'PlutoBold';
    src: url(../fonts/HvDTrial_Pluto-Bold-BF6486959ee6381.ttf);
}

@font-face {
    font-family: 'PlutoHeavy';
    src: url(../fonts/HvDTrial_Pluto-Heavy-BF6486959ebdea6.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'PlutoBold', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #303B43;
}

/* Header */

.buttonSpecial {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgb(238, 81, 31);
    background: linear-gradient(49deg, rgba(238, 81, 31, 1) 0%, rgba(234, 51, 62, 1) 29%, rgba(185, 45, 134, 1) 53%, rgba(108, 100, 186, 1) 71%, rgba(27, 158, 240, 1) 87%, rgba(27, 158, 240, 1) 88%);
    cursor: pointer;
    padding: 0px 16px;
    height: 50px;
    width: auto;
    color: white;
    border-radius: 8px;
}

.buttonSpecial img {
    height: 30px;
}

.navbar-nav {
    gap: 0.25rem;
}

.nav-link {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    height: 56px;
    padding: 8px 16px !important;
    border-radius: 9999px;
}

.nav-link-icon {
    color: #303B43;
    cursor: pointer;
}

.nav-link-profile svg {
    height: 24px;
    padding-left: 10px;
}

.subnav-link {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    height: 40px;
    padding: 8px 16px !important;
    border-radius: 9999px;
    color: #303B43;
}

.subnav-link svg {
    height: 20px;
    padding-left: 10px;
}

.subnav-link:hover {
    background-color: #D2EBF7;
    color: #0359ca;
}

hr {
    margin: 0;
}


/* Text */

h1 {
    font-family: 'PlutoBold', sans-serif;
    font-size: 3.75rem;
    margin: 0;
}

h2 {
    font-family: 'PlutoHeavy', sans-serif;
    font-size: 1.9rem;
    margin: 0;
}

p {
    font-family: 'PlutoLight', sans-serif;
    font-size: 1rem;
    margin: 0;
}

ul {
    list-style: none;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
}

svg {
    height: 40px;
}

nav {
    display: flex;
    height: 87px;
    align-items: center;
    gap: 15px;
}

/* Buttons */



.buttonMain {
    background-color: #0359ca;
    border: 0;
    padding: 15px 32px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    gap: 10px;
}

.buttonMain img {
    height: 30px;
}

.buttonMain2 {
    background-color: white;
    border: 1px solid #0359ca;
    padding: 15px 32px;
    color: #0359ca;
    cursor: pointer;
    border-radius: 8px;
    gap: 10px;
}

/* footer */

.footerMain {
    background: rgb(238, 81, 31);
    background: linear-gradient(49deg, rgba(238, 81, 31, 1) 0%, rgba(234, 51, 62, 1) 29%, rgba(185, 45, 134, 1) 53%, rgba(108, 100, 186, 1) 71%, rgba(27, 158, 240, 1) 87%, rgba(27, 158, 240, 1) 88%);
    color: white;
}


/* Main */

.square {
    display: flex;
    width: 739px;
    justify-content: center;
    text-align: center;
    background-color: #0359ca;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
}

.square div {
    display: flex;
    width: 170px;
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
}

.square div .button {
    display: flex;
    background-color: white;
    color: #0359ca;
    border-radius: 8px;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    clip-path: inset(5% 0 5% 0);
    background-color: #29AAEB;
}

.content img {
    width: 380px;
    height: auto;
}




/* footer */



/*
#footerMain2 {
    background: #0359ca;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 35px;
    padding-bottom: 40px;
}

footer img {
    height: 355px;
}

.container2 {
    display: flex;
    margin-top: 70px;
}

.redes {
    height: 110px;
    width: 512px;
}*/



/*
.redes .redes-svg svg:hover {
    fill: #29AAEB;
}


.links li:hover {
    text-decoration: underline;
}

footer .profile {
    width: 422px;
    height: 324px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content {
    border-top: 1px solid #ffffff80;
    padding-top: 10px;
    gap: 300px;
}

.footer p {
    margin: 0;
}

.footer-links {
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links span {
    margin: 0 8px;
    color: white;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Shop */

/* .filterHeader {
    display: flex;
    align-items: center;
    background-color: #0359ca;
    padding: 32px 40px 48px;
}

.filterHeader div {
    padding: 0px 32px;
    margin: 32px 0px;
}

.filterHeader img {
    object-fit: cover;
    background-color: white;
    border-radius: 4px;
}

.filterHeader h2 {
    margin-bottom: 20px;
}


.filterHeader .contentFilter p {
    font-size: 2rem;
    font-family: 'PlutoBold';
}  */
/* 

.main2 {
    max-width: 1376px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 50px;
}

.filters {
    width: 23%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 77%;
    gap: 2rem;
}

.product {
    border: 1px solid #B4BBC3;
    border-radius: 8px;
    padding: 16px;
}

.img {
    display: flex;
    align-items: center;
    width: 284px;
    height: 284px;
}

.img img {
    width: 284px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.information a {
    font-family: 'PlutoHeavy';
    font-size: 1.375rem;
    color: #303B43;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 284px;
    padding: 16px 0px 0px;
}

.buttons button {
    width: 134px;
    height: 50px;
    padding: 0px 4px;
}

.div img {
    height: 285px;
    width: auto;
}

.filters h2 {
    font-size: 20px;
    font-family: 'PlutoMedium';
    margin-bottom: 16px;
}

.filterBy {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CED3D8;
}

.filterBy svg {
    transform: rotate(90deg);
}

.filters p {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    height: 62px;
    font-size: 1rem;
}

.selectfilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #CED3D8;
    border-bottom: 1px solid #CED3D8;
    height: 62px;
}

.selectfilter2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 0;
    height: 62px;
}

.selectfilter2 svg {
    transform: rotate(180deg);
}

.squareCheckBox {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 2px;
}

.cereals {
    border-bottom: 1px solid #CED3D8;
}

.cereals ul {
    margin-left: 20px;
}

.cereals li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-family: 'PlutoLight';
    margin-bottom: 25px;
} */


/* Checkout

.inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0px 0px;
}

.buy {
    display: flex;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.informationPersonal {
    border-right: 1px solid #303B43;
    padding: 43px;
    width: 50%;
}

.buyProducts {
    border-left: 1px solid #303B43;
    background-color: #B4BBC3;
    padding: 43px;
    width: 50%;
}

.cart,
.contact div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart img {
    height: 80px;
}

.cart svg {
    height: 30px;
    color: #0359ca;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    font-size: 0.75rem;
}

form .inputs {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

form .inputs button {
    width: auto;
    height: 48px;
    border-radius: 8px;
}

.separation {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 22px 0px 29px;
}

.buy h2 {
    font-size: 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 15.5px 13px;
    height: 56px;
    width: 100%;
    border: 1px solid #B4BBC3;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'PlutoLight';
}

.accept {
    display: flex;
}

.delivery,
.payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selects {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #B4BBC3;
    border-radius: 4px;
    padding: 15px 13px;
    height: 65px;
}

.selects label {
    font-family: 'PlutoLight';
    font-size: 0.75rem;
}

.selects select {
    font-family: 'PlutoMedium';
    border: 0;
    justify-content: space-between;
    width: 100%;
}

.delivery .inputs {
    display: flex;
    justify-content: space-between;
}

.delivery p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4BBC3;
    padding: 20px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    border: 1px solid #B4BBC3;
    border-radius: 4px;
}

.checkbox input {
    height: 20px;
    width: 20px;
}

.checkbox label {
    font-family: 'PlutoLight';
}

.payment .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #0359ca;
    border-radius: 4px 4px 0px 0px;
    background-color: #29AAEB;
    padding: 16px;
}

.payment .body {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 0px 0px 4px 4px;
    background-color: #D2EBF7;
}

.payment .checkbox {
    border: 0;
}

.informationPersonal input[type="submit"] {
    padding: 14px;
    background-color: #0359ca;
    color: white;
    border: 0;
    border-radius: 4px;
    height: 70px;
    font-size: 1.5rem;
}

/* BuyProducts */
/* 
.buyProducts .product {
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.img-product img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border: 1px solid black;
    background-color: white;
    border-radius: 4px;
}

.informationProduct {
    width: 300px;
    height: 64px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.discounts {
    margin-top: 20px;
}

.discounts div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.discounts div input[type="text"] {
    padding: 15px 13px;
    border: 1px solid black;
    font-family: 'PlutoLight';
    width: 80%;
}

.discounts div input[type="submit"] {
    padding: 15px 13px;
    border: 1px solid black;
    font-family: 'PlutoBold';
    font-size: 1rem;
    width: 20%;
    height: 56px;
    border-radius: 4px;
}

.totalPrice {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.totalPrice div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total {
    margin-top: 20px;
    font-family: 'PlutoBold';
    font-size: 2rem;
}  */

/* Cart */

/* .cartMain {
    margin-left: 27%;
    margin-right: 27%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 100px;
    margin-bottom: 175px;
}

.container-product {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    height: 160px;
    padding: 8px 16px;
}

.container-product img {
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.container-buy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.container-buy div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-buy h4 {
    margin: 0;
}

.plusandminus {
    border-radius: 4px 0px 0px 4px;
}

.plusandminus div {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0px 8px;
}

.amount {
    background-color: #CED3D8;
}

.minus,
.plus {
    background-color: #B4BBC3;
}

.minus {
    border-radius: 4px 0px 0px 4px;
}

.plus {
    border-radius: 0px 4px 4px 0px;
}

.container-like {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    height: 114px;
    padding: 8px 16px;
    width: 75%;
}

.container-like img {
    height: 96px;
    width: 96px;
    object-fit: cover;
}
 */